.todo {
    &__field {
        width: 100%;
        background-color: var(--color-input-light);
        border-radius: 32px;
        display: flex;
    }
}

.field {
    @extend .todo__field;
    border: none;
    padding: 12px;
    width: 100%;

    &:focus {
        outline: none;
        color: var(--color-input-dark);
    }
}
