.todo {
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        cursor: pointer;

        &:hover {
            color: var(--color-input-dark);
        }
        &--done {
            text-decoration: line-through;
            color: var(--color-input-dark);
        }
    }

    &__task {
        display: grid;
        align-items: center;
        grid-template-columns: 24px auto;
        gap: 16px;
    }
}
