.todo {
    &__wrapp {
        min-width: 300px;
        background-color: var(--color-text-light);
        border-radius: 16px;
        padding: 32px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        color: var(--color-text);
    }
}
